.single-dpp_project .dpp_project {
  background: transparent;
  box-shadow: none;
}

.single-dpp_project .post-section {
    background-color: transparent;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
}

.single-dpp_project .post-title {
    display: inline;
    margin-right: 0px;
}

.single-dpp_project .post-wrapper {
    margin: 0 0 20px 0;
    padding: 50px;
    background-color: #f3f3f3;
    border-radius: 8px;
    min-width: 100%;
}

.single-dpp_project .post-inner {
  box-shadow: none;
}

.single-dpp_project figure {
  display: inline-block;
}

.single-dpp_project figure img {
  border-radius: 8px;
}

.single-dpp_project .description {
  margin-top: 10px;
}

.clear {
  clear: both;
}

.dpp-projects .project {
  float: left;
  width: 50%;
}

@media screen and (max-width: 779px) {
    .dpp-projects .project {
        width: 100%;
    }
}

.dpp-projects figure, .dpp_project figure {
  margin-bottom: 0px;
  position: relative;
}

.dpp-projects figure img, .dpp_project figure img {
    display: block;
}

.dpp-projects figcaption, .dpp_project figcaption {
    background: rgba(0, 0, 0, 0.5);
    color: #FFF;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.dpp_project figcaption {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  text-align: left;
  vertical-align: middle;
  padding-left: 50px;
}

.dpp_project figcaption div {
  margin-top:-13px;
  margin-left: 2px;
  margin-bottom: 10px;
}

.dpp_project figcaption h2 {
  color: #fff;
  text-align: left;
}
